/* Global CSS Box Sizing */
* {
    box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem; /* 20px */
}

@media (max-width: 768px) {
  .main-container {
    padding: 0.625rem; /* 10px */
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .content-section {
    padding: 0.625rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1, h2 {
    font-size: 2.25rem;
  }

  .header-class {
    border-width: 40px;
  }

  section,
  .experience-item {
    padding: 1rem;
  }
}

nav {
    background-color: #0A090C;
    padding: 0.9375rem;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.625rem;
    display: flex;
    justify-content: space-around;
    background-color: #E09200;
}

nav li {
    margin: 0.625rem;
}

nav a {
    color: #0A090C;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    background-color: inherit;
}

nav a:hover {
    color: #0A090C;
}

.header-class {
    text-align: center;
    background-color: #E09200;
    border-style: inset;
    border-width: 5rem;
    border-color: #0A090C;
    margin-bottom: 1.25rem;
}

.header-content {
    position: relative;
    padding: 1.25rem;
    text-align: center;
    align-items: center;
    color: #0A090C;
}

img {
    border-width: 0.3125rem;
    border-radius: 3%;
    border-style: ridge;
    border-color: #0A090C;
    max-width: 100%;
    height: auto;
}

h1 {
    text-shadow: #0A090C;
    color: #0A090C;
    letter-spacing: 0.8rem;
    font-size: 2.625rem;
}

.quote {
    color: #FFFDED;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.625rem;
}

.contact-info {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFDED;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: clamp(2rem, 2.8vw, 5rem);
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.typewriter {
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #FFFDED;
    color: #0A090C;
    animation: cursor 1s step-start infinite, text 5s steps(18) infinite;
}

@keyframes cursor {
    0%, 100% {
        border-color: #FFFDED;
    }
}

@keyframes text {
    0% {
        width: 0;
    }
    100% {
        width: 18ch;
    }
}

.smallbit {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFDED;
}

h1, h2 {
    color: #0A090C;
    font-size: 3.75rem;
}

a {
    color: #FFFDED;
    text-decoration: underline;
}

body {
    margin: 1.25rem;
    padding: 1.25rem;
    background-color: #FFFDED;
    border: 0.3125rem solid #FFFDED;
    font-family: 'Roboto', sans-serif;
}

h4, h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #0A090C;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h6 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.125rem;
    margin-bottom: 0.0625rem;
}

section {
    padding: 1.5625rem;
    margin-bottom: 1.25rem;
    border: 0.125rem solid #FFFDED;
}

.experience-item {
    background-color: #E09200;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin: 1.25rem 0;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.experience-item:hover {
    transform: translateX(10px);
}

.experience-item h5 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFDED;
    margin-bottom: 0.625rem;
    text-align: center;
}

.highlight {
    color: #FFFDED;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
}

.details {
    color: #FFFDED;
    font-size: 1rem;
    display: none;
}

.experience-item:hover .details {
    display: block;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

p {
    text-align: center;
    line-height: 1.5;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: #0A090C;
}

.skills-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: #0A090C;
}

.skills {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.skills .column {
    flex: 1;
    width: 20%;
}

.skills ul {
    list-style-type: none;
    padding: 0.5rem;
    color: #E09200;
}

.skills li {
    background-color: #E09200;
    text-align: center;
    margin: 0.3125rem 0;
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

table {
    width: 80%;
    margin: 0.625rem auto;
    border-collapse: collapse;
}

th, td {
    padding: 0.9375rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border: 0.125rem solid #E09200;
    background-color: #0A090C;
    color: #FFFDED;
}

th {
    background-color: #E09200;
    color: #0A090C;
    font-size: 1.5rem;
}

.progress-bar {
    background-color: #0A090C;
    border-radius: 7.5rem;
    overflow: hidden;
    width: 6.25rem;
    height: 1.25rem;
    margin: 0 auto;
}

.progress {
    background-color: #E09200;
    height: 100%;
    border-radius: 0.3125rem;
    text-align: center;
    color: #0A090C;
    font-size: 0.75rem;
    font-weight: bold;
    width: 0;
    transition: width 2s ease-in-out;
}

footer#education {
    background-color: #0A090C;
    padding: 1.875rem;
    text-align: center;
    color: #E09200;
}

footer#education ul {
    list-style-type: none;
    padding-left: 0;
}

footer#education ul li {
    margin-bottom: 0.625rem;
}

footer#education ul li ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.3125rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #E09200;
    border: 0.125rem solid #0A090C;
    border-radius: 0.625rem;
}

label {
    font-size: 1.125rem;
    color: #FFFDED;
    margin-bottom: 0.3125rem;
}

input, select, textarea {
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: none;
    border-radius: 0.3125rem;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

input[type="submit"] {
    background-color: #E09200;
    color: #0A090C;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #FFFDED;
}
